<div id="getting-started">
  <h3>Welcome:</h3>
  <p>The Lowcountry Digital Library produces digital collections and projects that strengthen the College of Charleston's instructional programs and support research about the region. LCDL is committed to a multifaceted approach that incorporates historical and anthropological scholarship, oral history, integrative archival practices, digital librarianship, and spatial, temporal, and environmental information. Together with its partners, it helps students, scholars, and the larger community develop a better understanding of the history and culture of the South Carolina Lowcountry relative to the nation and the world.</p>
</div>

<div id="examples">
  <h3>Examples to Get You Started:</h3>
  <p>We are currently testing the functionality of the new LCDL catalog system. Below please find some live examples o fhow material types now look in LCDL.</p>
   <h5>Compound Objects:</h5>
   <p><a href="//beta.lcdl.library.cofc.edu/lcdl/catalog/lcdl:20207">Irish Volunteers Memorial Meeting</a></p>
   <h5>Photographs/Postcards:</h5>
   <p><a href="//beta.lcdl.library.cofc.edu/lcdl/catalog/lcdl:63589">Abraham und die drei Engel</a></p>
   <h5>Objects with Multiple Views:</h5>
   <p><a href="//beta.lcdl.library.cofc.edu/lcdl/catalog/lcdl:57879">Dixon's gold coin</a></p>
   <h5>Objects with Multiple Views with Transcript:</h5>
   <p><a href="//beta.lcdl.library.cofc.edu/lcdl/catalog/lcdl:59049">Folder 33: McDonald Letter 3</a></p>
   <h5>Oral Histories & PDF Embeds:</h5>
   <p><a href="//beta.lcdl.library.cofc.edu/lcdl/catalog/lcdl:142289">Hector, Interview by Marina López 19 March, 2016</a></p>
</div>

<script>
  Blacklight.onLoad(function() {
    $('#about .card-header').one('click', function() {
      $($(this).data('target')).load($(this).find('a').attr('href'));
    });
  });
</script>
