<%= render :partial => 'show_tools' %>
<br />  
  <div class="card">
    <div class="card-header"><h2 class="mb-0 h6">Share</h2></div>
    <div class="card-block center align-center" style="padding:15px;">
	<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c194813e0d7a375"></script>
	<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
    </div>
  </div>
<br />
<% unless @document.more_like_this.empty? %>
  <div class="card">
    <div class="card-header"><h2 class="mb-0 h6">More Like This</h2></div>
    <div class="card-block">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>
