<br />
<li class="more_like_this_document" style="margin:10px;">
<div style="text-align:center;">
  <span class="mlt_thumb"><img src="<%= document['thumbnail'] %>" style="max-width:100%;" class="shadow-sm" />
  <span class="mlt_title"><%= link_to_document document, document_show_link_field(document) %></span>
</div>
</li>
